<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img style="width: 100%; height: 3rem;" src="../../../assets/images/logo1.jpg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Anasayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link scroll" href="#about">Hakkımda <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link scroll" href="#contact">İletişim <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link scroll" href="#services">Ne Yapıyorum <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link scroll" href="#yazilarim">Yazılarım<span class="sr-only">(current)</span></a>
            </li>
            
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Yazı Ara" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Yazı Ara</button>
          </form> -->
        </div>
      </nav>