<div class="containers">
    <h1 style="margin-top: 30px; margin-left: 30px;">Tag</h1>
    
    <p>&nbsp;</p>
    <mat-form-field appearance="outline" style="margin-left: 20px; width: 100em; ">
      <input matInput placeholder="Search" (keyup)="TagFilter($event)">
    </mat-form-field>
    <button mat-flat-button color="primary" style="margin-left: 10px;margin-right: 50px; margin-top: 20px; float: right;">
      <mat-icon aria-label="label" matTooltip="Add Category" (click)="TagAdd()" >add</mat-icon>
    </button>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort >
      
      <ng-container matColumnDef="Id" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tag Id
        </mat-header-cell>
        <mat-cell *matCellDef="let tag"> {{tag.Id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Title" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tag Title 
        </mat-header-cell>
        <mat-cell *matCellDef="let tag"> {{tag.Title}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Description" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tag Description
        </mat-header-cell>
        <mat-cell *matCellDef="let tag"> {{tag.Description}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="IsPublished" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Published
        </mat-header-cell>
        <mat-cell *matCellDef="let tag"><mat-checkbox checked="{{tag.IsPublished}}" style="padding-left: 30%;"></mat-checkbox>  </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CreatedOn" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created 
        </mat-header-cell>
        <mat-cell *matCellDef="let tag"> {{tag.CreatedOn}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="LastModifiedOn" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified 
        </mat-header-cell>
        <mat-cell *matCellDef="let tag"> {{tag.LastModifiedOn}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="PublishedOn" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Published
        </mat-header-cell>
        <mat-cell *matCellDef="let tag"> {{tag.PublishedOn}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="operations">
        <mat-header-cell *matHeaderCellDef> Operations
        </mat-header-cell>
        <mat-cell *matCellDef="let data"> 
          <button mat-icon-button>
            <mat-icon aria-label="label" class="primary" matTooltip="" (click)="TagUpdate(data)" >edit</mat-icon>
            &nbsp;
            <mat-icon aria-label="label" color="warn" matTooltip="" (click)="TagRemove(data)" >delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
    </mat-table>
    
    <mat-paginator 
      [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons="true">
    </mat-paginator>
  </div>