<app-main-nav-user-interface [categories]="category"></app-main-nav-user-interface>

<div class="banner_section">
    
    <div class="banner-info">
        <h1 hidden="">Batuha Önür</h1>
        <h5 data-aos="fade-right" class="aos-init aos-animate">Merhaba, Ben Batuhan</h5>
        <h3 data-text=".NET Developer" class="mt-3">.NET Developer</h3>
        <div class="ban-buttons mt-4 aos-init aos-animate" data-aos="fade-right">
            <a class="btn work scroll" href="#projects">Çalışmalarım</a>
            <a class="btn work scroll active" href="#contact">İletişim</a>
        </div>
    </div>
</div>
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-4" id="about">
    
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-4">
            <div class="info-about text-center">
                <h4 class="sub-tittle-w3">Hakkımda</h4>
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3">Yeteneklerim</h3>
                <div class="row mt-lg-5 mt-3">
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5 aos-init aos-animate" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">Web Tasarım</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%"
                                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one aos-init aos-animate" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">Angular</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped  bg-danger " role="progressbar"
                                    style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5 aos-init aos-animate" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">C#</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                    style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one aos-init aos-animate" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">MVC</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                    style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5 aos-init aos-animate" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">MsSQL</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                                    style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one aos-init aos-animate" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">
                                HTML</h4>
                            <div class="progress">

                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                    style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5 aos-init aos-animate" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">CSS</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped aq2" role="progressbar" style="width: 60%"
                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5 aos-init aos-animate" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">JavaScript</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped aq" role="progressbar" style="width: 50%"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5 aos-init aos-animate" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">Web API</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped aq3" role="progressbar" style="width: 80%"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="services py-md-5 py-4" id="services">
        <div class="container">
            <div class="inner-sec-w3ls py-md-5 py-4">
                <h4 class="sub-tittle-w3 text-uppercase text-center">Servislerim</h4>
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">Ben Ne Yapıyorum</h3>
                <div class="price-right">
                    <div class="tabs">
                        <ul class="nav nav-pills my-md-5 my-3 justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="pills-home-tab" data-toggle="pill"
                                    href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Servis
                                    1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                    role="tab" aria-controls="pills-profile" aria-selected="false">Servis 2</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="menu-grids mt-4">
                                    <div class="row t-in">
                                        <div class="col-lg-4 service-in text-center aos-init aos-animate"
                                            data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-list-ul mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Profesyonel Kod</h5>
                                                    <p class="card-text">N Katmanlı Mimari ve SOLID Prensiplerini
                                                        Kullanarak profesyonel işler ortaya koyabiliyorum</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center aos-init aos-animate"
                                            data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-lightbulb mb-4"></i>
                                                    <h5 class="card-title text-uppercase">OTOMASYON PROJELERİ</h5>
                                                    <p class="card-text">İhtiyacınız olan her türlü otomasyon projesini
                                                        yapabilir kullanımınıza sunabilirim.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center aos-init aos-animate"
                                            data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-clone mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Destek</h5>
                                                    <p class="card-text">Projeleriniz'de desteğe ihtiyaç duyduğunuz tüm
                                                        alanlarda destek verebilirim başta </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="menu-grids mt-4">
                                    <div class="row t-in">
                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-magic mb-4"></i>
                                                    <h5 class="card-title">Full Stack Yazılım</h5>
                                                    <p class="card-text">Bir projenin veri tabanını, backend(webAPI) ve
                                                        front end tarafını geliştirebilirim</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-heart mb-4 "></i>
                                                    <h5 class="card-title">Grafik Tasarım</h5>
                                                    <p class="card-text">Orta Seviye Photoshop, Adobe Primere Bilgimi
                                                        kullanarak yaratıcı videolar ve görseller ortaya çıkarabilirim
                                                    </p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-sliders-h mb-4"></i>
                                                    <h5 class="card-title">Portal Uygulamaları</h5>
                                                    <p class="card-text">Birçok portal uygulaması yaratabilir bunları
                                                        canlıya alıp full çalışır bir şekilde teslim edebilirim</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section  id="yazilarim">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-4">
            <div class="info-about ">
                <!-- <h4 class="sub-tittle-w3">Hakkımda</h4> -->
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Yazılarım</h3>
                <app-lastfivepost [post]="post" *ngFor="let post of posts; index as i" [index]="i" (onClick)="navigateToPost($event)">
                </app-lastfivepost>
            </div>
        </div>
    </div>
</section>

<section class="experience py-lg-5 py-4" id="experience">
    <div class="timeline py-lg-5 py-3">
        <h4 class="sub-tittle-w3 text-uppercase text-center">Tecrübelerim</h4>
        <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Okul &amp; İş</h3>
        <div id="my-timeline" class="roadmap roadmap--initialized">
            <ol class="roadmap__events">
                <li class="roadmap__events__event" style="left: 0%;">
                    <div class="event">
                        <div class="event__date">Eylül 2019</div>
                        <div class="event__content">Akdeniz Üniversitesi <small>Bilgisayar Programcılığı</small></div>
                    </div>
                </li>
                <li class="roadmap__events__event" style="left: 20%;">
                    <div class="event">
                        <div class="event__date">Temmuz 2021</div>
                        <div class="event__content">Akdeniz Üniversitesi <small>Onur Öğrencisi Olarak Mezun</small>
                        </div>
                    </div>
                </li>
                <li class="roadmap__events__event" style="left: 40%;">
                    <div class="event">
                        <div class="event__date">2019 - Devam Ediyor</div>
                        <div class="event__content">Freelance <small>Bionluk, R10.net</small></div>
                    </div>
                </li>
                <li class="roadmap__events__event" style="left: 60%;">
                    <div class="event">
                        <div class="event__date">Aralık 2020 - Mayıs 2021</div>
                        <div class="event__content">NEFA Yazılım <small>Stajyer</small></div>
                    </div>
                </li>
                <li class="roadmap__events__event" style="left: 80%;">
                    <div class="event">
                        <div class="event__date">Mayıs 2021 - Eylül 2021</div>
                        <div class="event__content">NEFA Yazılım <small>Part time Jr. C# Developer</small></div>
                    </div>
                </li>
                <li class="roadmap__events__event" style="left: 100%;">
                    <div class="event">
                        <div class="event__date">Eylül 2021 - Devam Ediyor</div>
                        <div class="event__content">Asyasoft Yazılım <small>C# Developer</small></div>
                    </div>
                </li>
            </ol>
            <ul class="roadmap__navigation">
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

</section>
<div class="testimonials py-lg-5 py-4" id="clients">
    <div class="testimonials-inner container py-lg-4 py-3">
        <h4 class="sub-tittle-w3 text-uppercase text-center">Kısa Notlar</h4>
        <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Sözler</h3>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="testimonials_grid center">
                        <div class="testimonials_grid-inn text-uppercase">
                            <i class="fas fa-quote-left"></i>
                            <p>Yazılım, yapmasını söylediğiniz işi yapar, yapmasını istediğinizi değil.</p>
                        </div>
                        <h3>Anonim </h3>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonials_grid text-center">
                        <div class="testimonials_grid-inn text-uppercase">
                            <i class="fas fa-quote-left"></i>
                            <p>Kodunuzda NE yerine NEDEN’e odaklanmak sizi daha iyi bir geliştirici yapar.</p>
                        </div>
                        <h3>Jordi Boggiano

                        </h3>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonials_grid">
                        <div class="testimonials_grid-inn text-uppercase">
                            <i class="fas fa-quote-left"></i>
                            <p>Performansın anahtarı zarafettir. Binlerce özel durum gerçekleştirimi değildir.
                            </p>
                        </div>
                        <h3>Jon Bentley. Doug MvIlroy
                        </h3>

                    </div>
                </div>
                <a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="fas fa-long-arrow-alt-left"></span>
                    <span class="sr-only">Önceki</span>
                </a>
                <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                    <span class="sr-only">Sonraki</span>

                </a>
            </div>
        </div>
    </div>
</div>
<section class="contact py-lg-5 py-md-5 py-3" id="contact">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">İletişim</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">Benimle İletişime Geç</h3>

            <div class="contact_grid_right">
                <form action="#" method="post">
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left aos-init aos-animate" data-aos="fade-up">
                            <div class="form-group">

                                <input class="form-control" type="text" name="Name" placeholder="Ad Soyad" required="" #adSoyad>
                            </div>
                            <div class="form-group">

                                <input class="form-control" type="email" name="Email" placeholder="Email" required="" #email>
                            </div>
                            <div class="form-group">

                                <input class="form-control" type="text" name="Subject" placeholder="Konu" required="" #subject>
                            </div>
                        </div>
                        <div class="col-md-6 con-right aos-init aos-animate" data-aos="fade-up">
                            <div class="form-group">
                                <textarea id="textarea" placeholder="Mesajınız" required="" #content></textarea>
                            </div>
                        </div>
                        <div class="sub-honey mx-auto mt-3">
                            <input class="form-control" (click)="SendMail(adSoyad.value,subject.value,content.value,email.value)" type="submit" value="Gönder">
                        </div>
                    </div>
                </form>
            </div>
            <div class="address row mt-lg-5">

                <div class="col-md-4 address-grid aos-init aos-animate" data-aos="flip-up">
                    <div class="address-info">
                        <div class="address-left text-center">
                            <i class="far fa-map"></i>
                        </div>
                        <div class="address-right text-center">
                            <h6 class="my-3">Adres</h6>
                            <p> Antalya, Kepez

                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 address-grid aos-init aos-animate" data-aos="flip-up">
                    <div class="address-info">
                        <div class="address-left text-center">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="address-right text-center">
                            <h6 class="my-3">Email</h6>
                            <p>Email :
                                <a href="mailto:info@batuhanonur.com"> info@batuhanonur.com</a>

                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 address-grid aos-init aos-animate" data-aos="flip-up">
                    <div class="address-info">
                        <div class="address-left text-center">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="address-right text-center">
                            <h6 class="my-3">Telefon</h6>
                            <p>+90 534 976 8846</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>