<!-- <div class="container">
    <h2>Oturum Aç</h2>
    <mat-form-field appearance="outline">
      <mat-label>Kullanıcı Adı</mat-label>
      <input matInput placeholder="Kullanıcı Adı" type="text" #KullaniciAdi>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Şifre</mat-label>
      <input matInput placeholder="Şifre" type="password" #parola>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="OturumAc(KullaniciAdi.value, parola.value)">Oturum Aç</button>
  </div> -->


<section  >
  <div class="container" >
    <div class="row">
      <div class="col-md-12 mt-5">
        <h2 style="text-align: center;">Oturum Aç</h2>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Kullanıcı Adı</mat-label>
          <input matInput placeholder="Kullanıcı Adı" type="text" #KullaniciAdi>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Şifre</mat-label>
          <input matInput placeholder="Şifre" type="password" #parola>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="OturumAc(KullaniciAdi.value, parola.value)">Oturum Aç</button>
      </div>
    </div>
  </div> 
</section>
